
body{
	//background-image: url("../pictures/yoga1.jpg")
}
#complete_wrap{
	width : 900px;
	margin-left: 20px;
}
div{
	padding-top: 10px; 
	padding-left: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
}
#separator{
		padding-left: 200px;
}
#separator1{
		padding-left: 236px;
}
#separator2{
		padding-left: 160px;
}
#separator3{
		padding-left: 184px;
}
#separator4{
		padding-left: 122px;
}
#separator5{
		padding-left: 164px;
}
#separator6{
		padding-left: 187px;
}
#separator7{
		padding-left: 241px;
}
#separator8{
		padding-left: 161px;
}
#separator9{
		padding-left: 215px;
}
#separator10{
		padding-left: 117px;
}
#separator11{
		padding-left: 238px;
}
#separator12{
		padding-left: 246px;
}
#separator13{
		padding-left: 100px;
}
#separator14{
		padding-left: 50px;
}
#separator15{
		padding-left: 124px;
}
#separator16{
		padding-left: 130px;
}
 
 
