body{
	background-color: #CCFF99;
}
#complete_wrap{
	width : 500px;
	background : white;
	border: 3px solid green;
	border-radius: 5px 5px 5px 5px;
	padding-top: 15px;
	padding-right: -50px;
	padding-left: -50px;
	margin-left: 410px; 
	margin-right: -100px;

}
#top_image{
	margin-top: 10px;
	margin: auto;
	margin-left: 100px;
	padding-left: 150px;
	padding-right: 100px;
	margin-right: 100px;

}
h3{
	color: #483D8B;
	margin-top: 1px;
}
label{
 color: #483D8B;
}
 button{
 	margin-top: 20px;
 	margin-left: 220px;
 }
 #password{
 	padding-top: -10px;
 }
